<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<%- include("./public/head.ejs") %>
</head>

<body>
	<%- include("./public/header.ejs") %>

	<section class="main floatfix">
		<%- include("./public/aside.ejs") %>
		<section class="main-articles about">
			<h2> 关于博客 </h2>
			<p>  建站初衷： 尝试 node mysql express 服务器部署 等技术.  </p>
		</section>
	</section>
	<%- include("./public/footer.ejs") %>
</body>

</html>